[Interface]
Address = {{ wireguard_address }}
{% if wireguard_server  %}
ListenPort = {{ wireguard_port }}
{% endif %}
PrivateKey = {{ slurp_priv_key.content | b64decode }}

{% for peer in wireguard_peers %}
[Peer]
PublicKey = {{ peer.public_key }}
AllowedIPs = {{ peer.address }}
{% if peer.endpoint is defined %}
Endpoint = {{ peer.endpoint }}
{% endif %}
{% if peer.persistent_keepalive is defined %}
PersistentKeepalive = {{ peer.persistent_keepalive }}
{% endif %}
{% endfor %}
